.clickable:hover {
  cursor: pointer;
}

.side-bar {
  height: 100%;
}

.playlist {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scrollbar-color: #5cb85c #343a40;
  background-image: linear-gradient(
    to bottom,
    #343a40,
    #2b3035,
    #22262a,
    #1a1d20,
    #111315,
    black
  );
}

.playlist::-webkit-scrollbar {
  width: 1em;
}

.playlist::-webkit-scrollbar-track {
  background-color: #343a40;
}

.playlist::-webkit-scrollbar-thumb {
  background-color: #5cb85c;
}
.playlist::-webkit-scrollbar-thumb:hover {
  background-color: #2c8143;
}

.hideQueue {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.queue {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.chatbox {
  background-color: #1e2124;
  overflow-y: auto;
  word-break: break-all;
}

.trackBar {
  position: absolute;
  bottom: 60px;
  height: 8px;
}

.progressBar {
  transition: width 0.4s;
  transition-timing-function: linear;
  pointer-events: none;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clickable-icon {
  transition: all 0.2s ease-in-out;
}

.clickable-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 0px 25px 2px #7b8793;
  z-index: 1000;
}

.form-control:focus {
  border-color: #5cb85c;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #5cb85c;
}

.nowPlaying {
  border-radius: 10px;
  background-image: radial-gradient(#343a40, #1e2124 80%);
}

.nowPlayingTrack {
  border-radius: 10px;
  background-color: black;
}

.resizer {
  background-color: black;
  width: 5px;
  height: 100%;
  padding: 0;
  cursor: ew-resize;
}

.resizer:hover {
  border-left: solid;
  border-color: #5cb85c;
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.track-listing {
  height: 100%;
  flex: 1;
  white-space: nowrap;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myMsg {
  font-weight: bold;
  color: #1db954;
}

.yourMsg {
  font-weight: bold;
  color: #6c757d;
}

.msgText {
  word-break: break-all;
}

.player-button {
  background-color: #1db954;
  margin-top: 7px;
  font-size: 30px;
  transition: all 0.2s linear;
}

.player-button:active {
  background-color: #2c8143;
  transform: scale(0.9);
}

.player-button:hover {
  background-color: #2c8143;
}

.my-playlists {
  border-top: 1px solid #7b8793;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.my-playlists-item {
  font-weight: bold;
}

.attention-text {
  animation-name: wiggle;
  animation-duration: 0.25s;
  animation-iteration-count: 10;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-delay: 5s;
}

@keyframes wiggle {
  from {
    transform: rotate(-0.01turn);
  }
  to {
    transform: rotate(0.01turn);
  }
}

.vol-slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  border-radius: 10px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.vol-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #1db954; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.vol-slider::-moz-range-thumb {
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #1db954; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.search-item {
  font-weight: 600;
  background-color: black;
  border-radius: 10px;
  box-shadow: inset 0px 0px 4px rgb(52, 58, 64);
}

.search-item:hover {
  animation: jiggle 0.2s linear 1;
}

@keyframes jiggle {
  0% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(-1.5deg) scale(1.03);
  }
  50% {
    transform: rotate(0deg) scale(1.05);
  }
  75% {
    transform: rotate(1.5deg) scale(1.07);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
  }
}
