.side-bar {
  height: 100%;
}

.playlist {
  min-width: 500px;
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.hideQueue {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.queue {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.chatbox {
  overflow-y: auto;
}

div.trackBar {
  position: absolute;
  bottom: 40px;
  height: 8px;
}

div.progressBar {
  transition: width 0.5s;
  transition-timing-function: linear;
  pointer-events: none;
}
